# Ignore dataset folder
/data/

# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model checkpoints and logs
*.pth
*.ckpt
*.log
*.csv

# Streamlit cache
.streamlit/

# VSCode
.vscode/

# MacOS
.DS_Store
